<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8"/>
    <title>Order Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        .error {
            color: white;
            background-color: red;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <form th:object="${order}" th:action="@{/api/v1/order/order}" method="post">
                <input type="hidden" name="orderId" th:value="${order.id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create a new Order</h1>
                        </div>
                        <body style="color:darkcyan">
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <div class="text-right">
                                        <th>
                                            <a href="#"
                                               th:href="@{/api/v1/order/orderDetails/{id}/new(id=${order.id})}">
                                                <button type="button"><i class="fas fa-plus"></i>Add item to order
                                                </button>
                                            </a>
                                        </th>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div>
                                                <label>Order Name:</label>
                                                <input type="text" placeholder="Order name..." id="name"
                                                       class="form-control" th:field="*{name}" required="required"/>
                                                <span th:if="${#fields.hasErrors('name')}"
                                                      th:errors="*{name}" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <label>Select a table:</label>
                                    <select class="form-control" name="tableId">
                                        <th:block th:each="table : ${tables}">
                                            <option th:value="${table.id}"
                                                    th:selected="${table.id.equals(order.table.id)}"
                                                    th:text="${table.name}"></option>
                                        </th:block>
                                    </select>
                                    <div class="container-fluid" style="margin-top: 20px">
                                        <div class="row">
                                            <div>
                                                <div class="panel panel-primary">

                                                    <div class="panel-heading text-left" style="color: lightseagreen">
                                                        <h1 class="panel-title">Order Details </h1>
                                                    </div>
                                                    <div th:if="${successMessage}" class="alert alert-success">
                                                        <p th:text="${successMessage}"></p>
                                                    </div>
                                                    <br>
                                                    <div class="table-responsive"
                                                         th:if="${not #lists.isEmpty(orderDetails)}">
                                                        <table class="table table-hover ">
                                                            <thead class="thead-inverse">
                                                            <tr>
                                                                <th>Number</th>
                                                                <th>Name</th>
                                                                <th>Amount</th>
                                                                <th>Price</th>
                                                                <th>Unit of measure</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                                <th>Status</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="orderDetail, detailIndex : *{orderDetails}">

                                                                <td th:text="${orderDetail.id}">aaa</td>
                                                                <td th:text="${orderDetail.menu.name}"></td>
                                                                <td th:text="${orderDetail.amount}"></td>
                                                                <td th:text="${orderDetail.menu.price}"></td>
                                                                <td th:text="${orderDetail.unitOfMeasure}"></td>
                                                                <td>
                                                                    <a th:href="@{'/api/v1/order/orderDetails/' + ${orderDetail.id} + '/edit'}">
                                                                        <i class="fas fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a th:href="@{'/api/v1/order/orderDetails/' + ${orderDetail.id} + '/delete?id=' + ${order.id}}">
                                                                        <i class="fas fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                                <td th:style="'background-color: ' + ${orderDetail.backgroundColor.trim()}">
                                                                    <span th:text="${orderDetail.orderDetailsStatus}"></span>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <label>Total amount:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" id="price"
                                               class="form-control" th:field="*{totalAmount}"
                                               readonly="readonly"/>
                                        <span class="input-group-addon">.00</span>
                                        <span th:errors="*{totalAmount}" class="error"></span>
                                    </div>
                                    <br>
                                    <label>Select payment type:</label>
                                    <select id="payment" class="form-control" th:field="*{paymentType}"
                                            name="paymentType">
                                        <option th:each="payment : ${paymentType}"
                                                th:value="${payment}" th:text="${payment}"
                                                th:selected="${payment == order.paymentType}"></option>
                                    </select>
                                    <br>
                                    <label>Select status:</label>
                                    <select id="orderStatus" class="form-control" th:field="*{orderStatus}"
                                            name="orderStatus">
                                        <option th:each="status : ${orderStatus}"
                                                th:value="${status}" th:text="${status}"
                                                th:selected="${status == order.orderStatus}"></option>
                                    </select>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" class="btn btn-primary" style="color: lightseagreen"
                            th:if="${order.id} == null">Pay
                    </button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
</body>
</html>