<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8"/>
    <title>Order Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        .error {
            color: white;
            background-color: red;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${order}" th:action="@{/api/v1/order/order}" method="post">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create a new Order</h1>
                        </div>
                        <body style="color:darkcyan">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <br>
                                    <label>Order name:</label>
                                    <input type="text" placeholder="Order name..." id="name" class="form-control"
                                           th:field="*{name}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('name')}"
                                          th:errors="*{name}" class="error"></span>
                                    <br>
                                    <label>Select a table:</label>
                                    <select class="form-control" name="tableId">
                                        <th:block th:each="table : ${tables}">
                                            <option th:value="${table.id}"
                                                    th:text="${table.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>