<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8"/>
    <title>Order Details Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body style="color:darkcyan">
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <form th:object="${orderDetails}" th:action="@{/api/v1/order/orderDetails}" method="post">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <br>
                                    <label>Select a menu:</label>
                                    <input type="hidden" th:value="${orderDetails.orderId}" th:field="*{orderId}"/>
                                    <select class="form-control" name="menuItemId"
                                            th:field="*{menu.id}"
                                            onchange="updatePrice(this)">
                                        <th:block th:each="menu : ${menuList}">
                                            <option th:value="${menu.id}"
                                                    th:text="${menu.name}"
                                                    th:attr="data-price=${menu.price}, data-description=${menu.description}">
                                            </option>
                                        </th:block>
                                    </select>
                                    <br>
                                    <label>Price per item:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" id="price" placeholder="Price ..."
                                               class="form-control" th:value="${orderDetails.menu.price}"
                                               readonly="readonly"
                                               required="required"/>
                                        <span class="input-group-addon">.00</span>
                                        <span th:if="${#fields.hasErrors('price')}"
                                              th:errors="*{orderDetails.menu.price}" class="error">
                                        </span>
                                    </div>
                                    <br>
                                    <label>Description:</label>
                                    <input type="text" id="description"
                                           placeholder="Description ..."
                                           class="form-control"
                                           th:value="${orderDetails.menu.description}"
                                           readonly="readonly"
                                           required="required"/>
                                    <br>
                                    <label>Select unit of measure:</label>
                                    <select class="form-control" name="unitOfMeasure">
                                        <th:block th:each="unit : ${unitOfMeasures}">
                                            <option th:value="${unit.name}"
                                                    th:text="${unit.name}">
                                            </option>
                                        </th:block>
                                    </select>
                                    <br>
                                    <label>Amount:</label>
                                    <input type="text" placeholder="Amount ..." id="amount"
                                           class="form-control" th:field="*{amount}"/>
                                    <span th:errors="*{amount}" class="error"></span>
                                    <br>
                                    <label>Status:</label>
                                    <select class="form-control" name="orderDetailsStatus">
                                        <th:block th:each="status : ${orderDetailsStatuses}">
                                            <option th:value="${status.name}"
                                                    th:text="${status.name}">
                                            </option>
                                        </th:block>
                                    </select>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function updatePrice(selectElement) {
        var selectedMenu = selectElement.options[selectElement.selectedIndex];
        var price = selectedMenu.getAttribute("data-price");
        var description = selectedMenu.getAttribute("data-description");

        document.getElementById('price').value = price;
        document.getElementById('description').value = description;
    }

    $(document).ready(function () {
        updateMenuDetails(document.querySelector('select[name="menuItemId"]'));
    });
    $('select[name="menuItemId"]').change(function () {
        updateMenuDetails(this);
    });
</script>
</body>
</html>
