<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Bill</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<div th:object="${order}" class="bill" style="inline-size: max-content;">

    <h2>Thanks for using our app</h2>
    <p>------------------------------------------------------------------</p>
    <div class="restaurant-name">SomethingGoodToEat</div>
    <div class="receipt-number">Receipt nr: #<span th:text="${order.id}"></span></div>
    <div class="paid-amount">Paid Amount: $<span th:text="${order.receivedAmount}"></span></div>
    <div class="change">Change: $<span th:text="${order.amountDue}"></span></div>
    <div class="payment-type">Payment Type: <span th:text="${order.paymentType}"></span></div>
    <div class="payment-type">VAT Rate: 19%</span></div>
    <div class="payment-type">VAT Amount: <span th:text="${order.vatAmount}"></span></div>
    <div class="total">Total Amount: $<span th:text="${order.totalAmount}"></span></div>
    <p>------------------------------------------------------------------</p>
    <div class="payment-type"><b>Total Amount (including VAT): $<span th:text="${order.totalAmountWithVat}"><b></b>
    </span></div>
    <div class="expected-tip">Expected Tip: $<span th:text="${order.tip}"></span></div>
    <br>
    <p>------------------------------------------------------------------</p>
    <div class="print-button">
        <button onclick="window.print()">Print</button>
    </div>
    <div class="print-button">
        <button onclick="goToOrders()">Go back to Orders</button>
    </div>
</div>

<script>
    function goToOrders() {
        window.location.href = "/api/v1/order/orders";
    }
</script>
</body>
</html>
