<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8"/>
    <title>Order Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        .legend {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: min-content;
            display: flex;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .legend-item span {
            margin-left: 10px;
        }

        .yellow {
            width: 20px;
            height: 20px;
            background-color: yellow;
        }

        .green {
            width: 20px;
            height: 20px;
            background-color: green;
        }

        .blue {
            width: 20px;
            height: 20px;
            background-color: blue;
        }

        .red {
            width: 20px;
            height: 20px;
            background-color: red;
        }

        .order-row:hover {
            background-color: lightgray;
            cursor: pointer;
        }

    </style>

</head>
<body style="color:darkcyan">
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="color: lightseagreen">
                    <h1 class="panel-title">
                        <i class="fas fa-hamburger" style="margin-right: 10px;"></i>
                        Orders</h1>
                </div>
                <div th:if="${successMessage}" class="alert alert-success">
                    <p th:text="${successMessage}"></p>
                </div>
                <div class="table-responsive" th:if="${not #lists.isEmpty(orders)}">
                    <table class="table table-hover ">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tr th:each="order : ${orders}" class="order-row">
                            <td><a th:href="@{'/api/v1/order/viewOrderDetails/' + ${order.id}}"
                                   th:text="${order.id}"></a></td>
                            <td><a th:href="@{'/api/v1/order/viewOrderDetails/' + ${order.id}}"
                                   th:text="${order.name}"></a></td>
                            <td th:style="'background-color: ' + ${order.colorStatus} + ' !important;'">
                                <a th:href="@{'/api/v1/order/viewOrderDetails/' + ${order.id}}"
                                   th:text="${order.orderStatus}"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <label>Legend:</label>
                <div class="legend">
                    <div class="legend-item">
                        <div class="yellow"></div>
                        <br>
                        <span>Pending</span>
                    </div>
                    <div class="legend-item">
                        <div class="green"></div>
                        <br>
                        <span>Ready</span>
                    </div>
                    <div class="legend-item">
                        <div class="blue"></div>
                        <br>
                        <span>Paid</span>
                    </div>
                    <div class="legend-item">
                        <div class="red"></div>
                        <br>
                        <span>Delivered</span>
                    </div>
                </div>
                <div class="text-center">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{${#httpServletRequest.requestURI}(page=0,size=${page.size})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}"
                                th:classappend="${pageNum == page.number ? 'active' : ''}">
                                <a class="page-link"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${pageNum},size=${page.size})}"
                                   th:text="${pageNum + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{${#httpServletRequest.requestURI}(page=${page.totalPages - 1},size=${page.size})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
