<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'orders')}">
<head>
    <meta charset="UTF-8"/>
    <title>Order Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        .panel {
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        .panel-heading {
            background-color: lightseagreen;
            color: white;
            padding: 10px 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .order-status-button {
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
            color: white;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <form th:object="${order}" th:action="@{'/api/v1/order/updateStatus/' + ${order.id}}" method="post">

                <input type="hidden" name="orderId" th:value="${order.id}"/>

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Prepare Order nr: <span th:text="${order.id}"></span></h1>
                        </div>
                        <div>
                            <body style="color:darkcyan">
                            <div class="panel-body">
                                <div class="row">
                                    <div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-9 form-group">
                                                    <label>Order Name:</label>
                                                    <input type="text" placeholder="Order name..." id="name"
                                                           class="form-control" th:field="*{name}"
                                                           readonly="readonly"
                                                           required="required"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid" style="margin-top: 20px">
                                            <div class="row">
                                                <div class="col-md-9 form-group">
                                                    <div class="panel panel-primary">

                                                        <div class="panel-heading text-left"
                                                             style="color: lightseagreen">
                                                            <h1 class="panel-title">Order Details </h1>
                                                        </div>
                                                        <br>
                                                        <div class="table-responsive"
                                                             th:if="${not #lists.isEmpty(orderDetails)}">
                                                            <table class="table table-hover ">
                                                                <thead class="thead-inverse">
                                                                <tr>
                                                                    <th>Number</th>
                                                                    <th>Name</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                    <th>Unit of measure</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="orderDetail, detailIndex : *{orderDetails}">
                                                                    <td th:text="${orderDetail.id}"></td>
                                                                    <td th:text="${orderDetail.menu.name}"></td>
                                                                    <td th:text="${orderDetail.menu.description}"></td>
                                                                    <td th:text="${orderDetail.amount}"></td>
                                                                    <td th:text="${orderDetail.unitOfMeasure}"></td>
                                                                    <td th:style="'background-color: ' + (${orderDetail.orderDetailsStatus} == 'COOKING' ? 'yellow' : 'green')">

                                                                        <button type="submit"
                                                                                class="order-status-button">
                                                                            <a th:href="@{/api/v1/order/orderDetails/{id}/updateStatus(id=${orderDetail.id})}">
                                                                                <span th:text="${orderDetail.orderDetailsStatus}"></span>
                                                                            </a>
                                                                        </button>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-md-9 form-group">
                                            <label>Status:</label>
                                            <input type="text" placeholder="Status..." id="orderStatus"
                                                   name="orderStatus"
                                                   class="form-control" th:field="*{orderStatus}"
                                                   readonly="readonly"
                                                   required="required"/>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            </body>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ready</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>