<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'tables')}">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${table}" th:action="@{'/api/v1/table/table/' + ${table.id} + '/update'}" method="put">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Table</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>Table Name:</label>
                                    <input type="text" placeholder="Table Name..." id="name"
                                           class="form-control" th:field="*{name}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('name')}"
                                          th:errors="*{name}" class="error" style="background-color: red;"></span>
                                    <br>
                                    <label>Number of seats:</label>
                                    <input type="text" placeholder="Number of seats ..." id="numberOfSeats"
                                           class="form-control" th:field="*{numberOfSeats}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('numberOfSeats')}"
                                          th:errors="*{numberOfSeats}" class="error"
                                          style="background-color: red;"></span>
                                    <br>
                                    <label>Booked status:</label>
                                    <select id="status" class="form-control" th:field="*{status}" name="status">
                                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"
                                                th:selected="${status == table.status}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>