<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}">
<head>
    <meta charset="UTF-8"/>
    <title>Category Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${user}" th:action="@{/api/v1/user/user}" method="post">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create a new User</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>User last name:</label>
                                    <input type="text" placeholder="Last Name..." id="lastName"
                                           class="form-control" th:field="*{lastName}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('lastName')}"
                                          th:errors="*{lastName}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>User first name:</label>
                                    <input type="text" placeholder="Firstname..." id="firstName"
                                           class="form-control" th:field="*{firstName}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('firstName')}"
                                          th:errors="*{firstName}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Email Address:</label>
                                    <input type="text" placeholder="name@example.com" id="emailAddress"
                                           class="form-control" th:field="*{emailAddress}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('emailAddress')}"
                                          th:errors="*{emailAddress}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Username:</label>
                                    <input type="text" placeholder="Username..." id="Username"
                                           class="form-control" th:field="*{Username}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('Username')}"
                                          th:errors="*{Username}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Password:</label>
                                    <input type="text" placeholder="Password.." id="Password"
                                           class="form-control" th:field="*{Password}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('Password')}"
                                          th:errors="*{Password}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Role:</label>
                                    <select id="role" class="form-control" th:field="*{role}" name="role">
                                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"
                                                th:selected="${role == 'WAITER'}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>