<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (template, menu)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>Category Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>Restaurant Management System</title>
    <style>
        .glyphicon {
            color: darkcyan;
        }

        .legend {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: min-content;
            display: flex;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .legend-item span {
            margin-left: 10px;
        }

        .logo {
            width: 5%;
            display: block;
            margin-left: auto;
        }

        .yellow {
            width: 20px;
            height: 20px;
            background-color: yellow;
        }

        .green {
            width: 20px;
            height: 20px;
            background-color: green;
        }

        .blue {
            width: 20px;
            height: 20px;
            background-color: blue;
        }

        .red {
            width: 20px;
            height: 20px;
            background-color: red;
        }

        .logo {
            width: 5%;
            display: block;
            margin-left: auto;
        }
    </style>
</head>
<body style="color:darkcyan">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><span></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-left">

                <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                    th:class="${active==menu ? 'active' : ''}">
                    <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                              aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                    </a>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_WAITER', 'ROLE_CHEF')"
                    th:replace="::menuItem ('/api/v1/home','home','Home','th-list','Home')">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>Home</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER')"
                    th:replace="::menuItem ('/api/v1/category/categories','categories','Categories','th-list','Categories')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Categories</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_WAITER', 'ROLE_CHEF')"
                    th:replace="::menuItem ('/api/v1/menu/menus','menus','Menus','th-list','Menus')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Menus</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_WAITER', 'ROLE_CHEF')"
                    th:replace="::menuItem ('/api/v1/order/orders','orders','Orders','th-list','Orders')">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>Orders</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER')"
                    th:replace="::menuItem ('/api/v1/report/popularItems','reports','Reports','th-list','Reports')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Reports</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_WAITER')"
                    th:replace="::menuItem ('/api/v1/table/tables','tables','Tables','th-list','Tables')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Tables</span>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_MANAGER')"
                    th:replace="::menuItem ('/api/v1/user/users','users','Users','th-list','Users')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Users</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <td>
                        <a href="#" th:href="@{'/api/v1/login/logout'}" th:title="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </td>
                </li>
            </ul>
            <br>
            <img src="/images/Logo.png" alt="Logo" class="logo">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container xd-container">
        <th:block th:include="${template}"/>
        <br/>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>