<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'menus')}">
<head>
    <meta charset="UTF-8"/>
    <title>Category Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${menu}" th:action="@{/api/v1/menu/menu}" method="post" enctype="multipart/form-data">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create a new Menu</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <div th:if="${errorMessage}" class="alert alert-danger">
                                        <p th:text="${errorMessage}"></p>
                                    </div>
                                    <label>Menu Name:</label>
                                    <input type="text" placeholder="Menu name ..." id="name"
                                           class="form-control" th:field="*{name}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('name')}"
                                          th:errors="*{name}" class="error" style="background-color: red;"></span>
                                    <br>
                                    <label>Price:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" id="price"
                                               class="form-control" th:field="*{price}"
                                               required="required"/>
                                        <span class="input-group-addon">.00</span>
                                        <span th:if="${#fields.hasErrors('price')}"
                                              th:errors="*{price}" class="error" style="background-color: red;">
                                    </span>
                                    </div>
                                    <br>
                                    <label>Image:</label>
                                    <input type="file" id="image"
                                           class="form-control" th:field="*{image}" accept="image/*"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('image')}"
                                          th:errors="*{image}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Description:</label>
                                    <input type="text" placeholder="Description ..." id="description"
                                           class="form-control" th:field="*{description}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('description')}"
                                          th:errors="*{description}" class="error" style="background-color: red;">
                                    </span>
                                    <br>
                                    <label>Category:</label>
                                    <select class="form-control" name="category.id">
                                        <option value="">Select a category...</option>
                                        <th:block th:each="category : ${categories}">
                                            <option th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </th:block>
                                    </select>
                                    <br>
                                    <label>Add Popular item for this month:</label>
                                    <input type="checkbox" id="isPopular"
                                           name="isPopular" value="Y"
                                           th:checked="${isPopular}"/>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>