<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'menus')}">
<head>
    <meta charset="UTF-8"/>
    <title>Menu Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${menu}" th:action="@{'/api/v1/menu/menu/' + ${id} + '/update'}" method="post">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Menu</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>Menu Name:</label>
                                    <input type="hidden" th:value="${id}" th:field="*{id}"/>
                                    <input type="text" id="name"
                                           class="form-control" th:field="*{name}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('name')}"
                                          th:errors="*{name}" class="error" style="background-color: red;"></span>
                                    <br>
                                    <label>Price:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" id="price"
                                               class="form-control" th:field="*{price}"
                                               required="required"/>
                                        <span class="input-group-addon">.00</span>
                                        <span th:if="${#fields.hasErrors('price')}"
                                              th:errors="*{price}" class="error" style="background-color: red;">
                                    </span>
                                    </div>
                                    <label>Description:</label>
                                    <input type="text" placeholder="Description ..." id="description"
                                           class="form-control" th:field="*{description}"
                                           required="required"/>
                                    <span th:if="${#fields.hasErrors('description')}"
                                          th:errors="*{description}" class="error"
                                          style="background-color: red;"></span>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>