<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'menus')}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Menu Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body style="color:darkcyan">
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <div class="panel panel-primary">

                <div class="panel-heading" style="color: lightseagreen">
                    <h1 class="panel-title">
                        <i class="fas fa-list-alt" style="margin-right: 10px;"></i>
                        Menus</h1>
                </div>
                <div th:if="${successMessage}" class="alert alert-success">
                    <p th:text="${successMessage}"></p>
                </div>
                <div class="panel-body">
                    <div class="text-right">
                        <th sec:authorize="!hasAnyRole('WAITER', 'CHEF')">
                            <a href="#" th:href="@{'/api/v1/menu/menu/new/'}">
                                <button align="left"><i class="fas fa-plus"></i>Create Menu</button>
                            </a>
                        </th>
                    </div>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(menus)}">

                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th sec:authorize="!hasAnyRole('WAITER', 'CHEF')">Edit</th>
                                <th sec:authorize="!hasAnyRole('WAITER', 'CHEF')">Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="menu, menuIndex : ${menus}" class="menu-row">
                                <td th:text="${menuIndex.index + 1}"></td>
                                <td th:text="${menu.name}"></td>
                                <td th:text="${menu.price}"></td>
                                <td>
                                    <img th:src="@{'data:image/png;base64,' + ${menu.imageContent}}" alt="Menu Image"
                                         style="max-width: 100px; max-height: 100px;">
                                </td>
                                <td th:text="${menu.description}"></td>
                                <td th:text="${menu.category.name}"></td>
                                <td sec:authorize="!hasAnyRole('WAITER', 'CHEF')">
                                    <a href="#" th:href="@{'/api/v1/menu/menu/' + ${menu.id} + '/edit'}"><i
                                            class="fas fa-edit"></i></a></td>
                                <td sec:authorize="!hasAnyRole('WAITER', 'CHEF')">
                                    <a href="#" th:href="@{'/api/v1/menu/menu/' + ${menu.id} + '/delete'}"><i
                                            class="fas fa-trash"></i></a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-center">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{${#httpServletRequest.requestURI}(page=0,size=${page.size})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}"
                                    th:classappend="${pageNum == page.number ? 'active' : ''}">
                                    <a class="page-link"
                                       th:href="@{${#httpServletRequest.requestURI}(page=${pageNum},size=${page.size})}"
                                       th:text="${pageNum + 1}"></a>
                                </li>
                                <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
                                    <a class="page-link"
                                       th:href="@{${#httpServletRequest.requestURI}(page=${page.totalPages - 1},size=${page.size})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
