<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>Restaurant Management System</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .welcome-container {
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: auto;
        }

        .welcome-image {
            max-width: 100%;
            height: auto;
            flex: 1;
        }

        .reservation-info {
            flex: 1;
            background-color: #3fa654;
            border: none;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

    </style>

</head>

<body style="color: darkcyan;">
<div class="container" style="text-align: center">
    <div class="welcome-container" style="background-color: #dff0d8;">
        <img src="/images/welcome.png" alt="Welcome" class="welcome-image" width="300" height="300">
        <div class="reservation-info alert alert-success" style="width:50%; display: contents;">
            <h3 id="welcomeAlert">Welcome!</h3>
        </div>
    </div>
</div>
</body>

</html>