<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8"/>
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            background-color: #fff;
            border-color: #ddd;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            color: darkcyan;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form input {
            margin-bottom: 10px;
        }

        .logo {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body style="color:darkcyan">
<div>
    <img src="/images/Logo.png" alt="Logo" class="logo">
    <br>
    <div class="row login-form">
        <div class="col-md-12">
            <div th:if="${failureMessage}" class="alert alert-danger">
                <p th:text="${failureMessage}"></p>
            </div>
            <div th:if="${successLogoutMessage}" class="alert alert-success">
                <p th:text="${successLogoutMessage}"></p>
            </div>
            <div th:if="${successMessage}" class="alert alert-success">
                <p th:text="${successMessage}"></p>
            </div>
            <form th:object="${user}" th:action="@{/api/v1/login/signIn}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autofocus="true" autocomplete="off"
                       th:field="*{username}"
                       required="required"/>
                <span th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}" class="error"></span>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" autofocus="true" autocomplete="off"
                       th:field="*{password}"
                       required="required"/>
                <span th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}" class="error"></span>
                <br>
                <input type="submit" value="Log In">
                <br>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" style="color:darkcyan">
            <p><a th:href="@{/api/v1/login/signUp}" class="btn btn-primary">Sign Up</a></p>
        </div>
    </div>
    <div>
        Version: %%VERSION%%
    </div>
</div>
</body>
</html>
