<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'reports')}">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurant Report Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        .report {
            color: darkcyan;
        }
    </style>
</head>
<body style="color:darkcyan">
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div>
            <div class="panel panel-primary">

                <div class="panel-heading" style="color: lightseagreen">
                    <h1 class="panel-title">
                        <i class="fas fa-file-alt" style="margin-right: 10px;"></i>
                        Reports</h1>
                </div>
                <div class="table-responsive" th:if="${not #lists.isEmpty(menus)}">
                    <div>
                        <button type="submit" class="report" style="width:100%">Top 3 Most Popular Items</button>
                    </div>
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>Menu Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="menu, iStat : ${menus}" th:if="${iStat.index < 3}">
                            <td th:text="${menu.name}"></td>
                            <td th:text="${menu.description}"></td>
                            <td th:text="${menu.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="report" style="width:100%">Generate Report</button>
                <br>
                <br>
                <div>
                    <form th:object="${report}" th:action="@{/api/v1/report/reports}" method="post" th:csrf>
                        <div class="col-md-9 form-group">
                            <label for="start-date">Start Date:</label>
                            <input type="date" id="start-date" name="startDate" th:field="${report.startDate}">
                            <br>
                            <label for="end-date">End Date:&nbsp;&nbsp;</label>
                            <input type="date" id="end-date" name="endDate" th:field="${report.endDate}">
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Generate Report</button>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
            <div>
                <div class="table-responsive" style="width: 100%; overflow-x: auto;"
                     th:if="${not #lists.isEmpty(orders)}">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Number</th>
                            <th>Order ID</th>
                            <th>Name</th>
                            <th>Menu Details</th>
                        </tr>
                        </thead>
                        <tr th:each="order, orderIndex : ${orders}" class="order-row">
                            <td th:text="${orderIndex.index + 1}"></td>
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.name}"></td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Menu Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail : ${order.orderDetails}">
                                        <td th:text="${orderDetail.amount}"></td>
                                        <td th:text="${orderDetail.menu.name}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div th:if="${not #lists.isEmpty(orders)}">
                    <div class="total-sales">Total nr. of orders: <span th:text="${totalOrders}"></span>,
                        Total Sales Amount: $<span th:text="${totalSalesAmount}"></span></div>
                    <div class="total-orders-menu-one">Total nr. of orders with <span th:text="${menuOneName}"></span> :
                        <span th:text="${totalOrdersWithMenu1}"></span>,
                        Total Sales Amount: $<span th:text="${totalSalesAmountMenuOne}"></span></div>
                    <div class="total-orders-menu-two">Total nr. of orders with <span th:text="${menuTwoName}"></span> :
                        <span th:text="${totalOrdersWithMenu2}"></span>,
                        Total Sales Amount: $<span th:text="${totalSalesAmountMenuTwo}"></span></div>
                    <div class="total-orders-menu-three">Total nr. of orders with <span
                            th:text="${menuThreeName}"></span> : <span th:text="${totalOrdersWithMenu3}"></span>,
                        Total Sales Amount: $<span th:text="${totalSalesAmountMenuThree}"></span></div>
                    <div class="print-button">
                        <button onclick="window.print()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
